<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	
	<!-- Filters -->
	
	<filter>
		<filter-name>CORS_Filter</filter-name>
		<display-name>CORS_Filter</display-name>
		<description></description>
		<filter-class>fivium.pat.servlets.CORS_Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CORS_Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>Security_Filter</filter-name>
		<display-name>Security_Filter</display-name>
		<description></description>
		<filter-class>fivium.pat.servlets.SecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Security_Filter</filter-name>
		<url-pattern>/PatientServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Security_Filter</filter-name>
		<url-pattern>/ClinicianServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Security_Filter</filter-name>
		<url-pattern>/SuperUserServlet</url-pattern>
	</filter-mapping>
	
	<!-- Servlets --> 
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>fivium.pat.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PatientServlet</servlet-name>
		<display-name>PatientServlet</display-name>
		<description></description>
		<servlet-class>fivium.pat.servlets.PatientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PatientServlet</servlet-name>
		<url-pattern>/PatientServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ClinicianServlet</servlet-name>
		<display-name>ClinicianServlet</display-name>
		<description></description>
		<servlet-class>fivium.pat.servlets.ClinicianServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClinicianServlet</servlet-name>
		<url-pattern>/ClinicianServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SuperUserServlet</servlet-name>
		<display-name>SuperUserServlet</display-name>
		<description></description>
		<servlet-class>fivium.pat.servlets.SuperUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SuperUserServlet</servlet-name>
		<url-pattern>/SuperUserServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>QuartzInitializer</servlet-name>
		<servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>
		<init-param>
			<param-name>config-file</param-name>
			<param-value>./quartz.properties</param-value>
		</init-param>
		<init-param>
			<param-name>shutdown-on-unload</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<!-- <security-constraint>
		<web-resource-collection>
			<web-resource-name>QueuingServer</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	 -->

</web-app>
